@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: aliceblue;
    margin: 0;
}
#bannerImage{
    background-color: #6247ea;
    background-size: cover;
    padding: 150px 0 150px;
}
.class{
    background-color: #ec9d5f;
    background-size: cover;
    padding: 200px 0 200px;
    
    
}
.span{
    grid-column: span 2 / span 2;
}

/* nav{
   font-family:Roboto;
   font-size: 14px;
   display: flex;
   justify-content: space-between;
   z-index: 1;
   position: relative;

} */
/* #navbar a{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    color: #000000;
    justify-content: space-between;

} */
#bannerimage2{
    background-color: #04091e;
    background-size: cover;
    padding: 200px 0 200px;
    background-repeat: no-repeat;
}
/* header{
    width: 100px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

} */
/* nav ul li a{
    display:inline-flex;
    text-align: center;

} */